@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717; /* #ededed; */
    --eggshell: #faf3e0;
    --eggshell-foreground: #eef2d5;
  }
}

body {
  background: var(--eggshell);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-pinyon), cursive;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  font-family: var(--font-rye), sans-serif;
}

.cartCount {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  z-index: 1;
}

/* section {
  scroll-margin-top: 112px;
} */